<script lang="ts" setup>
interface PriceGroupEntry {
  from_count: number
  price: number
}

interface Props {
  items?: PriceGroupEntry[]
}
const props = withDefaults(defineProps<Props>(), {
  items: [{ from_count: null, price: null }],
})

const emit = defineEmits<{
  (e: 'saved', priceGroupEntries: Array<PriceGroupEntry>)
}>()

const priceGroupEntries = ref<PriceGroupEntry[]>([])

if (props.items) {
  priceGroupEntries.value = props.items
}

const addRow = () => {
  priceGroupEntries.value.push({ from_count: null, price: null })
}
</script>

<template>
  <div>
    <button @click="addRow">Add Row</button><br />
    <button @click="emit('saved', priceGroupEntries)">Speichern</button>

    <div v-for="entry in priceGroupEntries" :key="entry.from_count">
      <input
        v-model="entry.from_count"
        type="number"
        min="0"
        placeholder="Ab Stück"
        :style="{ background: entry.from_count < 10 ? 'green' : 'red' }"
      />
      <input v-model="entry.price" type="number" min="0" placeholder="Preis" />
    </div>
  </div>
</template>
