<script lang="ts" setup>
const { data } = await useFetch('/api/hello')

const { data: products } = await useFetch('/api/products')
</script>

<template>
  <div>
    <h1>API Demo</h1>

    <span>{{ data.api }}</span>

    <div v-for="product in products" :key="product.id">{{ product.id }} - {{ product.name }}</div>
  </div>
</template>
