<script lang="ts" setup>
interface Person {
  name: string
}

const person = ref<Person>({
  name: '',
})

const loading = ref(true)
onMounted(async () => {
  try {
    const { data } = await useFetch('https://swapi.dev/api/people/1')

    person.value = data.value as Person

    loading.value = false
  } catch (err) {}
})
</script>

<template>
  <div>
    <div v-if="loading">
      <h1>...</h1>
    </div>
    <div v-else>
      <h1>{{ person.name }}</h1>
    </div>
  </div>
</template>
