<script lang="ts" setup>
const { count, increment, decrement } = useCounter()
</script>

<template>
  <div>
    <h1>{{ count }}</h1>

    <button @click="increment()">+1</button>
    <button @click="decrement()">-1</button>
  </div>
</template>

<style scoped>
h1 {
  color: red;
}
</style>
