<script lang="ts" setup>
interface Registration {
  firstName: string
  lastName: string
  age: number
}

const registration = reactive<Registration>({
  firstName: '',
  lastName: '',
  age: null,
})

const register = () => {
  alert(`${registration.firstName} ${registration.lastName} wurde angemeldet`)

  registration.firstName = ''
  registration.lastName = ''
  registration.age = null
}
</script>

<template>
  <div>
    <h1>Anmeldung zum Erntedankfest</h1>

    <input v-model="registration.firstName" placeholder="Vorname" type="text" /><br />
    <input v-model="registration.lastName" placeholder="Nachname" type="text" /><br />
    <input v-model="registration.age" placeholder="Alter" type="number" min="8" max="60" /><br />

    <button @click="register">Anmelden</button>
  </div>
</template>
