<script lang="ts" setup>
definePageMeta({
  layout: 'empty',
})

const firstName = ref('Friedrich')
const lastName = ref('Waack')

const fullName = computed(() => `${firstName.value} ${lastName.value}`)

interface PriceGroupEntry {
  from_count: number
  price: number
}

const priceGroup = ref<PriceGroupEntry[]>([
  { from_count: 0, price: 100 },
  { from_count: 20, price: 95 },
])

const onSavedClicked = (priceGroupEntries: PriceGroupEntry[]) => {
  console.log('priceGroupEntries', priceGroupEntries)
}
</script>

<template>
  <div>
    <!--
        <input v-model="firstName" type="text" />
        <input v-model="lastName" type="text" />
        <h1>{{ fullName }}</h1>
    -->

    <PriceGroup :items="priceGroup" @saved="onSavedClicked" />
  </div>
</template>
